.shop-products {
  padding: 10rem 0;
}

.shop-grid {
  grid-template-columns: 80fr 20fr;
  column-gap: 5rem;
}

.shop-products-grid {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  row-gap: 3rem;
}
