.product {
  border: 1px solid #95a0a7;
  border-radius: 8px;
  flex-direction: column;
  justify-content: space-between;
}

.product-inner {
  padding: 1rem;
}

.product-img {
  width: 100%;
  border-radius: 8px;
}

.product-inner div {
  padding: 1.1rem;
}

.product-name {
  font-size: 1.8rem;
  line-height: 25px;
  letter-spacing: 0.0015rem;
  text-transform: capitalize;
  margin-bottom: 1.2rem;
}

.product-name a {
  text-decoration: none;
  color: #0e161a;
}

.product-price {
  font-size: 1.4rem;
  line-height: 20px;
  letter-spacing: 0.0015em;
  color: #0e161a;
}

.product-details {
  margin-bottom: 2.5rem;
}

.manufacturer{
    margin-bottom: .8rem;
}

.manufacturer,
.ratings {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.004em;
  color: #2a414f;
}

.product-btn {
  background-color: #ffe0b3;
  border: 1px solid #95a0a7;
  border-radius: 0px 0px 8px 8px;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  display: inline-block;
  width: 100%;
}
